.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 30px;
    }
    .buttons{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}